@charset "utf-8";
/* 공통서식 common.css*/

/* 헤더 서식 */
header {background: #4b4b4b;}

/* 장바구니, 전체메뉴 아이콘 숨김 */
i.fa-shopping-cart, label.fa-bars, fieldset label span, #toggle, legend,
i.fa-angle-down, .close_btn, .product input{display: none;}

/* 푸터 서식 */
footer {background: #464545;}
.f_top{
  height: 60px;
  background: #666666;
  font-size: 14px;
}
.f_nav{
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}
.f_nav > ul{display: flex;}
.f_nav li{margin: 0 15px;}
.f_nav a{
  color: #fff;
  line-height: 60px;
}
.f_nav dl{
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  line-height: 60px;
  margin-right: 15px;
}
.f_nav dl dt{font-weight: 500;}
.f_nav dl dd, .f_nav dl span{padding-left: 40px;}

/* 푸터 하단 */
.f_bottom, address{
  width: 1200px;
  margin: 0 auto;
}
.f_bottom{
  display: flex;
  justify-content: space-between;
  color: #dddddd;
}
.f_bottom dl{
  margin: 20px 15px;
  line-height: 40px;
}
.f_bottom dt{font-size: 20px;font-weight: 500;}
.f_bottom dd{font-size: 16px;}
dd.tel{
  color: #fff;
  font-size: 34px;
  font-weight: 500;
}
.sns{
  display: flex;gap: 18px;
  position: relative;
  top: 44px;right: -115px;
}
.sns li a{
  color: #fff;
  font-size: 26px;
}
.sns li span{display: none;}
label[for=family]{
  display: block;
  width: 1px;height: 1px;
  text-indent: -9999px;
}
#family{
  position: relative;top: 40px;
  width: 200px;height: 40px;
  margin-right: 15px;
  padding: 0px 12px 2px 0;
  background-image: url(../images/arrow_drop_down.png);
  background-repeat: no-repeat;
  background-position: 170px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-family: "Noto Sans KR", sans-serif, arial;
  text-align: center;
  font-weight: 500;
  appearance: none;
  cursor: pointer;
}
#family:focus {outline:none;}

address{
  padding-top: 16px;
  border-top: 1px solid #ccc;
  color: #ccc;
  font-style: normal;
  line-height: 160%;
}
address p{margin: 10px 15px;}
address p:last-of-type{float: right;}
.a_info, .a_pay{
  display: inline-block;
  padding-bottom: 20px;
}
.a_info{
  width: 570px;
  margin-right: 30px;
}
.a_pay{width: 300px;}
.title01{
  display: block;
  color: #fff;
  font-weight: bold;
}

/* 메인 서식 */

/* 링크 버튼 */
.button{
  padding: 6px 30px;
  background: #fff;
  border: 1px solid #ccc;
  font-size: 16px;
  transition: 0.5s;
}
.button:hover{
  background: #333;
  color: #fff;
}

/* 1. 인트로 */
.m_slide > h2{display: none;}
.mySwiper{width: 100%;}
.mySwiper swiper-slide img{
  display: block;
  width: 100%;
  object-fit: cover;
}

/* 2. 무료체험 */
.free_ex{
  padding: 30px 0;
  background: #e32929;
}
.free_ex > h2{display: none;}

/* 3. 쇼핑 - 컨트롤 버튼 */
.c_btn{
  display: inline-block;
  width: 15px;height: 15px;
  margin: 0 3px;
  margin-top: 50px;
  background: #ccc;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
#radio1:checked ~ label.c_btn:first-of-type{background: #333 !important;}
#radio2:checked ~ label.c_btn:nth-of-type(2){background: #333 !important;}
#radio3:checked ~ label.c_btn:nth-of-type(3){background: #333 !important;}
#radio4:checked ~ label.c_btn:last-of-type{background: #333 !important;}

/* 4. 하림펫 스토리 */
.story > h2{
  width: 1px;height: 1px;
  text-indent: -9999px;
}
